.card-img-top{
    width: 50%;
}

.derecha{
    width: 250px;
}

.main {
    text-align: center;
}

.enlaceExterno{
    display: flex;
    justify-content: center;
    
}
.repo {
    width: 40%;
    margin-top: 2%;
}

.col-3{
    display: flex;
    align-items: center;
}

.boton-color{
    width: 100%;
}

.icono{
    font-size: 4rem;
}

.card{
   
    cursor: pointer;

}

.botones{
    display: flex;
    justify-content: space-between;
}

.botones a{
    text-decoration: none;
    color: white;    
    padding: 0.5rem 1rem;
    border-radius: 5px;
    background-color: #23CFF1;
    border: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    text-align: center;   
}

.inicio {
    display: flex;
    justify-content: end;
}
.inicio a {
    background-color: #1C77FD;
}
.css a {
    background-color: #23CFF1;
}
.html a {
    background-color: #DE4756;
}

.css a:hover{
    background-color: #1DA1F2;
    
}
.html a:hover{
    background-color: #c41e2f;
   
}	

