.card{
    width: 80px;
}

.card-img-top{
    width: 50%;
}
.derecha{
    width: 250px;
}

.main {
    text-align: center;
}

.enlaceExterno{
    display: flex;
    justify-content: center;
    
}
.btn-primary {
    width: 40%;
    margin-top: 2%;
}