.card-img-top{
    width: 50%;
}

.derecha{
    width: 250px;
}

.main {
    text-align: center;
}

.enlaceExterno{
    display: flex;
    justify-content: center;
    
}
.repo {
    width: 40%;
    margin-top: 2%;
}

.col-3{
    display: flex;
    align-items: center;
}

.boton-color{
    width: 100%;
}

i{
    font-size: 4rem;
}

.card{
   
    cursor: pointer;

}
